#gamePage {
    -fx-background-image: url(../Images/Game/SantoriniBoard_flat.png);
    -fx-background-size: stretch;
}

.TowerImg {
    -fx-translate-x: 13px;
    -fx-pref-width: 110px;
    -fx-pref-height: 110px;
    -fx-max-width: 110px;
    -fx-max-height: 110px;
    -fx-min-width: 110px;
    -fx-min-height: 110px;

}

.pawnImg {
    -fx-translate-x: 30px;
    -fx-translate-y: -2px;
}