.winnerBackground {
    -fx-background-image: url(../Images/Ending/EndWin.png);
    -fx-background-size: stretch;
}

.loserBackground{
    -fx-background-image: url(../Images/Ending/EndLose.png);
    -fx-background-size: stretch;
}