#welcomePageContainer {
    -fx-background-image: url(../Images/Login/LoginBackground.png);
    -fx-background-size: stretch;
}
.connectButton{
    -fx-cursor: hand;
}

.localServerButton{
    -fx-background-color:
            -fx-shadow-highlight-color,
            -fx-outer-border,
            -fx-inner-border,
            -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-cursor: hand;
}

.twoPlayersButton{
    -fx-cursor: hand;
}

.threePlayersButton{
    -fx-cursor: hand;
}

.usernameTextBox{
    -fx-cursor: text;
}

.anotherServerTextBox{
    -fx-cursor: text;
}

.musicCheckBox{
    -fx-cursor: hand;
}

.effectsCheckBox{
    -fx-cursor: hand;
}


