#welcomePageContainer {
    -fx-background-image: url(../Images/Login/LoginBackground.png);
    -fx-background-size: stretch;
}
.connectButton{
    -fx-cursor: hand;
}

.localServerBtn{
    -fx-cursor: hand;
}

.twoPlayersButton{
    -fx-cursor: hand;
}

.threePlayersButton{
    -fx-cursor: hand;
}

.usernameTextBox{
    -fx-cursor: text;
}

.anotherServerTextBox{
    -fx-cursor: text;
}

.musicCheckBox{
    -fx-cursor: hand;
}

.effectsCheckBox{
    -fx-cursor: hand;
}


